# Global
*.DS_Store
Desktop.ini
Thumbs.db

# Project
!.keep
*.sass-cache
/_site/
/.jekyll-cache/
Gemfile.lock
.idea
/temp_npm/
/node_modules/
/vendor/

# Ignore docs files
_gh_pages
_site
.ruby-version
.jekyll-cache
.sass-cache
.bundle

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
._*
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Folders to ignore
node_modules
vendor/
temp_npm/
