---
layout: default
title: "放作品的网站。"
---
<div class="about scrollappear">
  <p>
    这是一个力求在网路上匿名的人的作品网站。为实现这种匿名，他让每次进入该网站时，都随机生成新的身份：你此时可以刷新下页面。<br>
    你会发现这个网站的标题后缀，会变化成另一串随机数字：匿名是对时代和信息爆炸，对存在和应然，一种朴素甚至老土的焦虑。一种不时尚了的困境。<br>
    这个网站将呈现一些项目，用以将此类困境固定并排出，以达成最终克服了的感觉。<br><br>
    <a href="mailto:trader0733@gmail.com"?subject=你好。" title="Email">📮：trader0733.gmail.com</a> <br>
    <a href="https://t.me/trader0038" title="Telegram">💬：@trader0038</a>
  </p>
</div>

<ul class="article-list">
  {% for post in site.posts %}
    <li class="article-list-item scrollappear">
      <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
        <h5>
          {{ post.title }}
        </h5>
      </a>
      <p>
        {% if post.description %}
          {{ post.description }}  
        {% else %}
          {{ post.excerpt }}
        {% endif %}
      </p>
      {% include modules/description.html post=post %}
    </li>
  {% endfor %}
</ul>