// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  padding-top: 35px;
  margin-bottom: 85px;
  p {
    font-size: $base-font-size * 0.9;
    color: $gray;
  }
  a {
    text-decoration: none;
    color: $gray;
  }
}
