// =============================================================================
// Theme variables
// =============================================================================

@charset "UTF-8";


// Colors
// =============================================================================

// Basic colors

$black: #222;
$gray: #777;
$light-gray: #eee;
$white: #fff;

// Typography
// =============================================================================

$font: "Serif", Courier, serif;
$base-font-weight: 400;
$base-font-weight-bold: 600;

// Fonts
// =============================================================================

@font-face {
  font-family: 'Serif';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/EBGaramond-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Serif';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/EBGaramond-Bold.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Serif';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/GenRyuMin2TC-R.woff2');
  unicode-range: U+4E00-9FFF, U+3400-4DBF; /* 包含了常用汉字和扩展A区的范围 */
}
@font-face {
  font-family: 'Serif';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/GenRyuMin2TC-B.woff2');
  unicode-range: U+4E00-9FFF, U+3400-4DBF; /* 包含了常用汉字和扩展A区的范围 */
}

// Sizes
// =============================================================================

// Grid

$columns: 12;
$max-width: 650px;
$gutter: 10px;
$one-column: 100% / $columns;
$negative-gutter: 0 - $gutter;

// Font sizes

$base-font-size: 15px;
$base-line-height: 1.8;

// Box sizes

$base-border-radius: 4px;

// Effects
// =============================================================================

$base-transition-speed: .5s;
