// =============================================================================
// Theme variables
// =============================================================================

@charset "UTF-8";


// Colors
// =============================================================================

// Basic colors

$black: #333;
$gray: #777;
$light-gray: #eee;
$white: #fff;
$yellow: #fff999;


// Typography
// =============================================================================

$sans-serif: Helvetica, Arial, sans-serif;
$serif: "EB Garamond", Courier, serif;
$base-font-family: $serif;
$base-font-weight: 400;
$base-font-weight-bold: 600;

// EB Garamond
// =============================================================================

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/EBGaramond-Regular.ttf');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/EBGaramond-Bold.ttf');
}

// Sizes
// =============================================================================

// Grid

$columns: 12;
$max-width: 650px;
$gutter: 20px;
$one-column: 100% / $columns;
$negative-gutter: 0 - $gutter;

// Font sizes

$base-font-size: 16px;
$base-line-height: 1.8;

// Box sizes

$base-border-radius: 4px;

// Effects
// =============================================================================

$base-transition-speed: .5s;
