---
layout: default
---

<div class="article scrollappear">
  {{ content }}
</div>

{% if site.tags[page.slug] %}
  <ul class="article-list scrollappear">
    {% for post in site.tags[page.slug] %}
      <li class="article-list-item scrollappear">
        <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
          <h5>{{ post.title }}</h5>
        </a>
        {% include article/info-footer.html post=post %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="article-empty scrollappear">
    {{ page.slug }} 还没有内容。
  </p>
{% endif %}
