<!doctype html>
<html lang="en">
{% include modules/head.html %}
<body>
  <main>
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include modules/navigation.html %}
        <article class="article scrollappear">
          <header class="article-header">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
            {% include modules/description.html post=page %}
          </header>

          <div class="article-content">
            {{ content }}
          </div>

          <div class="article-comments scrollappear">
            <p>
              <a href="mailto:meetshaoting@gmail.com"?subject=你好。" title="Email">📮:meetshaoting.gmail.com</a>
            </p>
          </div>

        </article>
        {% include modules/footer.html %}
      </div>
    </div>
  </main>
  {% include functions/javascripts.html %}
</body>
</html>
