{% if site.ga_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.ga_analytics }}');
  </script>
{% endif %}

<!-- 随机数生成器 -->
<script>
  function generateRandomNumber() {
  const randomNum = Math.floor(Math.random() * 10000).toString().padStart(4, '0');
  // 更新所有带有 random-number class 的元素
  const randomNumberElements = document.getElementsByClassName('random-number');
  Array.from(randomNumberElements).forEach(element => {
    element.textContent = `${randomNum}`;
  });
  // 更新页面标题
  document.title = `{{ site.name }}${randomNum}`;
}
window.onload = generateRandomNumber;
</script>

<!-- JavaScript依赖 -->
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/zooming.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/retina.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/svgxuse.min.js' | relative_url }}"></script>

<!-- ScrollAppear插件和主要功能 -->
<script>
// ScrollAppear 插件定义
;(function ($) {
  var els = [];

  var refreshVisibility = function() {
    $.each(els, function() {
      if ($(this)[0].getBoundingClientRect().top < $(window).height()) {
        $(this).addClass('appeared');
      }
    });
  };

  $.fn.scrollAppear = function() {
    this.each(function() {
      els.push($(this));
      $(this).addClass('appear');
    });

    refreshVisibility();

    $(window).scroll(function() {
      refreshVisibility();
    });
    return this;
  };
}(jQuery));

// 主要JavaScript功能初始化
$(document).ready(function() {
  // ScrollAppear
  if (typeof $.fn.scrollAppear === 'function') {
    $('.scrollappear').scrollAppear();
  }

  // Zooming
  new Zooming(
    {customSize: '100%', scaleBase: 0.9, scaleExtra: 0}
  ).listen('.zooming');
});
</script>

