<nav class="header-nav scrollappear">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">{{ site.name }}<span class="random-number"></span></a>
</nav>


</ul>
  <ul class="header-tags scrollappear">
    {% assign tags = site.tags | sort %}
    <li><a href="{{ '/' | relative_url }}" title="首页" {% if page.url == '/' or page.url == '' %}class="active"{% endif %}>首页</a></li>
    {% for tag in tags %}
      {% if forloop.index > 10 %}
        <li>...</li>
        <li><a href="/tags">Show all</a></li>
        {% break %}
      {% endif %}
      {% assign encoded_tag = tag[0] | url_encode %}
      <li><a href="{{ 'tag/' | relative_url }}{{ tag[0] }}"{% if page.url contains encoded_tag or page.url contains tag[0] or page.tags contains tag[0] %}class="active"{% endif %}>
        {{ tag[0] | capitalize }}</a></li>
    {% endfor %}
  </ul>